
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-y: hidden;
}
.boil{
  background-image: url();
}
.page-center {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: start;
}

.carousel,
.carousel-inner,
.carousel-item {
  width: 80vw;
  height: 80vh;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* fills screen without stretching */
}
.carousel-item {
  position: relative;
}

.Know-more-link{
  text-decoration: none;
  color: white;
}
.Know-more-link:hover{
  text-decoration: none;
  color: orange;
}

